.categories {
    display: grid;
    grid-template-areas: 
    "laptop headphones"
    "keyboards headphones"
    "tablets headphones";
    grid-template-rows: 280px 280px 280px;
    grid-template-columns: 500px 1fr;
    max-width: 1200px;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 0px 50px 0px;
}
.categories > .Laptop {
    grid-area: laptop;
}
.categories > .Headphones {
    grid-area: headphones;
}
.categories > .Keyboards {
    grid-area: keyboards;
}
.categories > .TVs {
    grid-area: tvs;
}
.categories > .Tablets {
    grid-area: tablets;
}
.categories img {
    width: 100%;
}