.hero-setion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;   
    max-width: 1100px;
    justify-items: right;
    margin: 0 auto;
    padding: 40px 0px;
}
.hero-setion img {
    height: calc(100vh - 150px);
}
.hero-setion p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.hero-setion h1, .hero-setion h1 span {
    font-size: 3rem;
    font-weight: 800;
}
.hero-setion h1 span {
    font-weight: 300;
}
h3 {
    font-size: 1.5rem;
}
.addToCartHero {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    padding: 10px 20px;
    background-color: #232a34;
    border-radius: 24px;
    font-size: 1.2rem;
}
.addToCartHeroSecondary {
    margin-left: 20px;
    color: #232a34;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #232a34;
    border-radius: 24px;
    font-size: 1.2rem;
}
.tag {
    background-color: rgb(148, 0, 0);
    width: fit-content;
    padding: 5px;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}