.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
}
h4 {
    text-align: center;
    font-size: 1.5rem;
    margin: 50px 0px;
}