.card-single {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.card-single figure {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.card-single figure span {
    background-color: #232a34;
    color: white;
    padding: 5px;
    font-weight: 600;
}
h3 {
    font-size: 1.3rem;
}

.last-part p {
    margin: 10px 0px;
    font-size: 1.3rem;
}
.addToCartBtn {
    background-color: black;
    border-radius: 24px;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 100%;
}