.productsidemenu {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
    align-items: start;
}
.productsidemenu img {
    height: 65px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.productsidemenu h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.productsidemenu button {
    display: block;
    background-color: black;
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: white;
    width: fit-content;
    cursor: pointer;
}