.preheader {
    background-color: #232a34;
    color: #e7ecf4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
}
.free-shipping {
    display: flex;
    gap: 10px;
    align-items: center;
}