header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121217;
}
.headerLogo {
    width: 40px;
}
.left, .right {
    display: flex;
    align-items: center;
    gap: 20px;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}