.productDetails {
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: white;
    width: fit-content;
    max-width: 500px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
}
.productDetails img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.close {
    cursor: pointer;
}
.category {
    margin: 10px 0px;
    display: inline-block;
    background-color: #232a34;
    color: white;
    padding: 5px;
    font-weight: 600;
}
.productDetails h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.productDetails p {
    text-wrap: balance;
    font-size: 1.2rem;
}
.productDetails button {
    margin: 10px 0px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    padding: 10px 20px;
    background-color: #232a34;
    border-radius: 24px;
    font-size: 1.2rem;
    border: none;
    margin-left: 20px;
}
.productDetails .price {
    margin-top: 20px;
    font-size: 20px;
    display: inline-block;
    font-weight: 700;
}
.price-original {
    text-decoration: line-through;
    color: gray;
}