.search {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #232a34;
}
.search:focus {
    outline-color: green;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    padding: 50px 0px;
}
.searchContainer label {
    font-size: 2rem;
}